body {
    color: white;
    font-family: monospace;
    background: rgb(10,10,10);
    margin: 0px;
    }
    img {
    width: 250px;
    height: 250px;
    }

   button, a{
    background-color: rgb(0, 180, 0);
    font-size: 15px;
    border-bottom-color: rgb(0, 163, 0);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 5px; 

    padding: 12px;
   }
   a:-webkit-any-link{
       text-decoration: none;
   }
   a{
    background-color: rgb(0, 179, 211);
    font-size: 18px;
    border-bottom-color: rgb(0, 127, 150);
    padding: 5px;  
   }
   a:hover{
    background-color: rgb(0, 127, 150);  
    color: white;
   }
   button:hover{
    background-color: rgb(0, 220, 0);
   }
   
   li a {
       display: block;
       text-align: center;
       padding: 14px 25px;
       text-decoration: none;
       font-size: 30px;
       background: none;
       margin: 0%;
       border-radius: 0%;
   }
   li a:hover{
    background-color: rgb(20, 20, 20);     
   }
   li{
      float: left;
   }
   nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
   }
   ul{
    display: block;
   }
   .list li{
       font-size: 20px;
       float: inherit;
   }
   p{
       font-size: 20px;
       display: contents;
   }
@media screen and (max-width: 500px)  {
    nav ul {
        padding: 0px;
        width: 100%;
        height: auto;
        display: grid;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
        }
    li{
        justify-content: space-between;
    }

    header {
        padding: 0px;
        margin-bottom: 10px;
        display: table-column;
        justify-content: space-between;
        align-items: flex-start;
    }
   
    }
 
@media screen and (min-width: 505px) {
    .item{
        width: 70%;
    }   
    nav{
        height: 120px;
    }
}

@media screen and (min-width: 700px) {
    .item{
        width: 70%;
    }
    nav{
        height: 75px;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 980px) {
    .item{
        width: 30%;
    }
}


@media screen and (min-width: 1040px) {
    .class-marca{
       margin-bottom: 10px;
    }
    .class-header{
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .item{
        width: 22%;
    }
    class-header{
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 60px;
        padding-right: 60px;
    }
    main{
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}